<h1 class="pt-2">Dynamic menu</h1>
<div class="row justify-content-end text-end">
  <button mat-raised-button color="primary" style="margin-bottom: 10px;" (click)="add_parent()">Add Parent</button>
</div>
<p>
  <mat-checkbox (change)="shouldValidate($event)">move in same level</mat-checkbox>
</p>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" cdkDropList (cdkDropListDropped)="drop($event)">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding cdkDrag [cdkDragData]="node"
    (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()">
    <button mat-icon-button disabled></button>
    {{node.filename}} : {{node.type}}<button type="button" mat-icon-button (click)="add_child(node)">
      <mat-icon inline="true">add</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="edit(node)">
      <mat-icon inline="true">edit</mat-icon>
    </button>
  </mat-tree-node>
  <hr>

  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag [cdkDragData]="node"
    (mouseenter)="dragHover(node)" (mouseleave)="dragHoverEnd()" (cdkDragStarted)="dragStart()"
    (cdkDragReleased)="dragEnd()">
    <button mat-icon-button matTreeNodeToggle (click)="expansionModel.toggle(node.id)"
      [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.filename}} : {{node.type}}<button type="button" mat-icon-button (click)="add_child(node)">
      <mat-icon inline="true">add</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="edit(node)">
      <mat-icon inline="true">edit</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
