<div class="kt-portlet">
  <div class="kt-portlet__head kt-portlet__head__custom">
      <div class="kt-portlet__head-progress">
          <!-- <mat-progress-bar mode="indeterminate" *ngIf="!ShowSpinner"></mat-progress-bar> -->
      </div>
      <div class="kt-portlet__head-label">
          <h3  class="kt-portlet__head-title"> {{getMode()}}</h3>
      </div>
  </div>
  <form class="kt-form" [formGroup]="ItemForm">
      <div class="kt-portlet__body pt-0">
          <div class="kt-portlet__body-progress">
              <mat-spinner *ngIf="ShowSpinner" [diameter]="20"></mat-spinner>
          </div>

          <div class="form-group kt-form__group row">
              <div class="col kt-margin-bottom-20-mobile">
                  <mat-form-field class="mat-form-field-fluid example-full-width">
                      <input type="text" matInput placeholder="name" formControlName="name">
                      <mat-error>
                          <strong>Error</strong>
                      </mat-error>
                      <mat-hint>
                          <strong>require</strong>
                      </mat-hint>
                  </mat-form-field>
              </div>
              <div class="col kt-margin-bottom-20-mobile">
                <mat-form-field class="mat-form-field-fluid example-full-width">
                    <input type="text" matInput placeholder="link" formControlName="link">
                    <mat-error>
                        <strong>Error</strong>
                    </mat-error>
                    <mat-hint>
                        <strong>require</strong>
                    </mat-hint>
                </mat-form-field>
            </div>
          </div>



      </div>
      <div class="kt-portlet__foot kt-portlet__no-border kt-portlet__foot--fit">
          <div class="kt-form__actions kt-form__actions--solid">
              <div class="row text-right">
                  <div class="col-lg-12">
                      <button type="button" mat-raised-button [mat-dialog-close]="" cdkFocusInitial matTooltip="Cancel changes">
            Cancel
          </button>&nbsp;
                      <button type="button" mat-raised-button color="accent" (click)="onSubmit()" matTooltip="Save changes">
            Save
          </button>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
