/*
PRIMARY: 
ACCENT: #8ee275
*/

.pointer {
    cursor: pointer !important;
}

body {
    color: #808080 !important;
    background-color: #fafdfe;
    background-color: #fcfcfc;
    // font-family: Poppins;
}

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar :hover {
    width: 1em;
    height: 1em;
}

::-webkit-scrollbar-button {
    background: #e0e2f0;
}

::-webkit-scrollbar-track-piece {
    background: #f6f6f6c0;
}

::-webkit-scrollbar-thumb {
    background: #e0e2f0;
}



@media (min-width: 992px) {
    .header-fixed .wrapper {
        padding-top: 85px;
    }
    .header-fixed .header {
        box-shadow: none;
    }
    .header {
        background-color: unset;
        border-bottom: 1px solid #dddddd45;
    }
}

.subheader.subheader-solid {
    border: 0 !important;
}

.brand {
    // margin-top: 15px;
    padding: 0 13px;
}

.brand-light .brand {
    background: #fbfbfd !important;
}

.brand .brand-logo>img {
    width: 120px;
}

.header-mobile>a>img {
    width: 55px;
}

.subheader-transparent {
    border-bottom: 1px solid #dddddd45 !important;
    margin-bottom: 25px !important;
}

// .aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link {
//   background: #fff;
//   border-radius: 20px;
// }
.aside-minimize .brand-title {
    display: none;
}

// .collapsed {
//   min-width: 140px;
// }
.aside-minimize .collapsed {
    display: none;
}

.aside .aside-menu {
    max-height: 566px !important;
}

.aside-menu .menu-nav {
    padding: 0px !important;
}

.aside-fixed .aside {
    background: #fbfbfd;
}

.aside-menu .menu-nav {
    background: #fbfbfd;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link {
    background: $primary;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link .menu-text {
    color: #fff;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background: #fcfcfa;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background: #fcfcfa;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    // background: #fcfcfa;
    background: $primary;
    // border-radius: 7px;
    // padding: 15px 25px;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link {
    background: #fcfcfa;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background: #fcfcfa;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item.menu-item-active>.menu-link .menu-bullet.menu-bullet-dot>span {
    background-color: #fff;
}

.aside-menu .menu-nav>.menu-item>.menu-link {
    padding: 20px 25px;
}

.aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
    font-weight: bold;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-text {
    color: #fff;
    // font-weight: bold;
}

@media (min-width: 992px) {
    .aside-minimize .aside-menu .menu-nav>.menu-item.menu-item-here>.menu-link>.menu-icon,
    .aside-minimize .aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link>.menu-icon {
        color: #a2a3b7;
    }
}

.notification-badge {
    right: -9px;
    position: absolute;
    top: 15px;
}



.width-100 {
    width: 100% !important;
}

.height-100 {
    height: 100vh;
}


/* Start Table */


/* Structure */

.example-container {
    position: relative;
    min-height: 200px;
}

.example-table-container {
    position: relative;
    overflow: auto;
}

table {
    width: 100%;
}

.example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 999;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
}

.example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}


/* Column Widths */

.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.mat-table__wrapper .mat-table__message {
    padding: 30px !important;
    text-align: center;
    font-weight: 500;
}


/* End Table */

.norecord {
    padding: 30px !important;
    text-align: center !important;
    font-weight: 500;
}

.mat-icon {
    color: #000000b5;
}

.clickable-label {
    cursor: pointer !important;
}

.body_progress {
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 200px;
}

.body_progress_transparent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-height: 500px;
}

.cdk-overlay-container {
    z-index: 500 !important;
}

// .xng-breadcrumb-root {
//   padding: 8px 16px;
//   display: inline-block;
//   border-radius: 4px;
//   background-color: #e7f1f1;
// }
.xng-breadcrumb-separator {
    padding: 0 4px;
}

.xng-breadcrumb-link {
    font-size: 16px;
    margin-bottom: 0;
}

.xng-breadcrumb-item {
    font-size: 14px;
}

.justify-content-space-between {
    justify-content: space-between;
}

.stats-box {
    max-width: 75px;
}

.patinet-profile {
    // background: $primary;
    background-image: linear-gradient(#5fcedb, #02aeec);
}

.patinet-profile-tabs {
    margin-top: -40px;
    padding: 0;
}

.patinet-profile-tabs>.card {
    border-radius: 50px;
}

.schedule-card {
    border-radius: 50px 0 0 50px !important;
}

.open-case {
    border-top: 2px solid $success;
    width: fit-content;
    margin: auto;
}

.w-90 {
    width: 90%;
}

.card-clinic {
    position: relative;
    &>button {
        position: absolute;
        top: 0;
        right: 0px;
        z-index: 100;
    }
}

.label-badge {
    position: absolute;
    bottom: 0px;
    left: -10px;
}

// Support RTL
@media (min-width: 992px) {
    .home-direction[dir="rtl"] .aside-fixed.aside {
        right: 0 !important;
        left: auto;
    }
    #kt_wrapper[dir="rtl"] {
        padding-right: 265px !important;
        padding-left: 0px;
    }
    .aside-minimize #kt_wrapper[dir="rtl"] {
        padding-right: 70px !important;
        padding-left: 0px;
    }
}

.home-direction[dir="rtl"].card.card-custom {
    direction: rtl;
}

[dir="rtl"] .scrolltop {
    right: auto;
    left: 20px;
}

.home-direction[dir="rtl"] h1 {
    text-align: right;
}

.home-direction[dir="rtl"] h2 {
    text-align: right;
}

.home-direction[dir="rtl"] h3 {
    text-align: right;
}

.home-direction[dir="rtl"] h4 {
    text-align: right;
}

.home-direction[dir="rtl"] h5 {
    text-align: right;
}

.home-direction[dir="rtl"] h6 {
    text-align: right;
}

.home-direction[dir="rtl"] p,
.home-direction[dir="rtl"] label,
.home-direction[dir="rtl"] span:not(.navi-text) {
    text-align: right;
}

.home-direction[dir="rtl"] .schedule-card {
    border-radius: 0 50px 50px 0 !important;
}

[dir="rtl"] .float-right {
    float: left !important;
}

[dir="rtl"] .float-left {
    float: right !important;
}

.home-direction[dir="rtl"] .card-clinic {
    &>button {
        left: 0px;
        right: auto;
    }
}

[dir="rtl"] div {
    text-align: right;
}

[dir="rtl"] .timeline.timeline-6:before {
    right: 8px;
    left: auto !important;
}

//TODO Remove
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-text {
    color: $primary;
}